html {
  background-image: url("img/bg.png");
  background-position: center;
  background-size: cover;
}

h1 {
  text-align: center;
}

button, input {
  cursor: pointer;
}

table {
  border: 2px solid black;
}

th {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

#menu, .main {
  border: 1px solid white;
  border-radius: 15px;
  font-size: 50px;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.main {
  font-size: 30px;
}

#menu:hover, #menu:focus, #menu:active, .main:hover, .main:focus, .main:active{
  background-color: #2098D1;
  color: white;
}

.centered {
  margin: auto;
  text-align: center;
  width: 50%;
}
